<nav class="navbar navbar-expand-lg custom-navbar " style="z-index: 999;">
  <div class="container">

    <a class="navbar-brand fw-bold" href="#">Kampüs Blog</a>

    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      ☰
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'anasayfa' %}active{% endif %}" href="{% url 'anasayfa'%}">
            Anasayfa
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'iletisim' %}active{% endif %}" href="{% url 'iletisim'%}">
            İletişim
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'hakkimizda' %}active{% endif %}" href="{% url 'hakkimizda'%}">
            Hakkımda
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'yazarlar' %}active{% endif %}" href="{% url 'yazarlar'%}">
            Yazarlar
          </a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">
            Blog
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Bloglar</a>
            <a class="dropdown-item" href="#">Yeni Blog Ekle</a>
            <a class="dropdown-item" href="#">Blog Düzenle</a>
            <a class="dropdown-item" href="#">Blog Sil</a>
            <a class="dropdown-item" href="#">Blog Detay</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">
            Kullanıcı İşlemleri
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Kayıt Ol</a>
            <a class="dropdown-item" href="#">Profil</a>
            <a class="dropdown-item" href="#">Çıkış Yap</a>
          </div>
        </li>

      </ul>

   
      <form class="form-inline">
        <input class="form-control search-input mr-2" type="search" placeholder="Yazı ara...">
        <button class="btn btn-search" type="submit">Ara</button>
      </form>

    </div>
  </div>
</nav>