{% extends "base.html" %}
{% load static %}
{% block baslik %}Anasayfa{% endblock %}
{% block icerik %}

<div class="container mt-4">
  <h1 class="mb-4">Son Yazılar</h1>
  <div class="row">
    {% for post in bloglar %}
    <div class="col-md-4 mb-4">
      <div class="card h1-100">
        <img src="{% static post.static_url %}" class="card-img-top" alt="Blog">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="text-muted">{{ post.author_name }} - {{ post.views }} görüntülenme</p>
          <p class="card-text">{{ post.summary }}</p>
          <a href="{% url 'blog:blog_detay' id=post.id %}" class="btn btn-primary">Yazının Devamı...</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}
