{% extends "base.html" %}
{% block baslik %} İletişim {% endblock %}

{% block icerik %}

<!--<h1 class="{% if 5 < 10 %}bg-danger{% else %}bg-succes{% endif %}">SELAM</h1>
<h1> {{ request.resolver_match.url_name }}</h1> -->

<section class="mb-4">

  <h2 class="h1-responsive font-weight-bold text-center my-4">İletişime Geçin</h2>
  <p class="text-center w-responsive mx-auto mb-5">Bir Sorununuz Mu Var Hemen Bize Ulaşabilirsiniz En Kısa Sürede Sizinle İletişime Geçelim</p>

  <div class="row">

      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="{% url 'iletisim' %}" method="POST">{% csrf_token %}

              <div class="row">
                  <div class="col-md-6 mb-3">
                      <div>
                          <label for="name" class="form-label font-weight">Adınız Soyadınız</label>
                          <input type="text" id="name" name="full_name" class="form-control">
                      </div>
                  </div>

                  <div class="col-md-6 mb-3">
                      <div>
                          <label for="email" class="form-label font-weight">Mail Adresiniz</label>
                          <input type="text" id="email" name="e_mail" class="form-control">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12 mb-3">
                      <div>
                          <label for="subject" class="form-label font-weight">Konu</label>
                          <input type="text" id="subject" name="subject" class="form-control">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12 mb-3">
                      <div>
                          <label for="message" class="form-label font-weight">İletmek İstediğiniz Mesaj</label>
                          <textarea id="message" name="message" rows="4" class="form-control"></textarea>
                      </div>
                  </div>
              </div>

          </form>

          <div class="text-center text-md-left mt-4">
              <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Gönder</a>
          </div>
          <div class="status"></div>
      </div>

      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p>Samsun, Türkiye</p>
              </li>
              <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p>+90 552 801 17 56</p>
              </li>
              <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p>omerkazak1441@gmail.com</p>
              </li>
          </ul>
      </div>

  </div>

</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47798.293079478644!2d36.1080579!3d41.5174202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4087df5a9652e01b%3A0xd8b189e80530c991!2sSamsun%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1775807977397!5m2!1str!2str" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}